src/main/plugins/cxxapiref/xsd/cxxTypedef.mod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================= -->
<!-- HEADER -->
<!-- ================================================================= -->
<!-- MODULE:    C++ Typedefs DTD -->
<!-- VERSION:   0.6.0 -->
<!-- DATE:      May 2009 -->
<!---->
<!-- ================================================================= -->
<!-- ================================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!---->
<!--
  Refer to this file by the following public identifier or an 
        appropriate system identifier 
  PUBLIC "-//NOKIA//DTD DITA C++ API Typedef Reference Type v0.6.0//EN"
        Delivered as file "cxxTypedef.dtd"
-->
<!-- ================================================================= -->
<!-- SYSTEM:     Darwin Information Typing Architecture (DITA) -->
<!---->
<!-- PURPOSE:    C++ API Reference for Typedefs -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- November 2009 -->
<!---->
<!-- Copyright (c) 2009-2010 Nokia Corporation and/or its subsidiary(-ies). -->
<!-- All rights reserved. -->
<!---->
<!-- Change History (latest at top): -->
<!-- +++++++++++++++++++++++++++++++ -->
<!-- 2010-02-16 VOG: Updated. -->
<!-- 2010-02-10 PaulRoss: Updated. -->
<!-- 2009-11-16 PaulRoss: Initial design. -->
<!---->
<!-- ================================================================= -->
<!--
  Copyright (c) 2009-2010 Nokia Corporation and/or its subsidiary(-ies).
  All rights reserved.
-->
<!-- ============ Hooks for domain extension ============ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/">
  <xs:import namespace="http://dita.oasis-open.org/architecture/2005/" schemaLocation="../../../schema/base/xsd/ditaarch.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../../../schema/base/xsd/xml.xsd"/>
  <xs:group name="cxxTypedefDetail">
    <xs:sequence>
      <xs:element ref="cxxTypedefDetail"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedefDefinition">
    <xs:sequence>
      <xs:element ref="cxxTypedefDefinition"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedefAccessSpecifier">
    <xs:sequence>
      <xs:element ref="cxxTypedefAccessSpecifier"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedefDeclaredType">
    <xs:sequence>
      <xs:element ref="cxxTypedefDeclaredType"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedefScopedName">
    <xs:sequence>
      <xs:element ref="cxxTypedefScopedName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedefPrototype">
    <xs:sequence>
      <xs:element ref="cxxTypedefPrototype"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedefNameLookup">
    <xs:sequence>
      <xs:element ref="cxxTypedefNameLookup"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedefReimplemented">
    <xs:sequence>
      <xs:element ref="cxxTypedefReimplemented"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedefAPIItemLocation">
    <xs:sequence>
      <xs:element ref="cxxTypedefAPIItemLocation"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedefDeclarationFile">
    <xs:sequence>
      <xs:element ref="cxxTypedefDeclarationFile"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedefDeclarationFileLine">
    <xs:sequence>
      <xs:element ref="cxxTypedefDeclarationFileLine"/>
    </xs:sequence>
  </xs:group>
  <!-- ============ Hooks for shell DTD ============ -->
  <xs:group name="cxxTypedef-types-default">
    <xs:sequence>
      <xs:element ref="no-topic-nesting"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedef-info-types">
    <xs:sequence>
      <xs:group ref="cxxTypedef-types-default"/>
    </xs:sequence>
  </xs:group>
  <!-- ============ Topic specializations ============ -->
  <xs:element name="cxxTypedef">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="apiName"/>
        <xs:group minOccurs="0" ref="shortdesc"/>
        <xs:group minOccurs="0" ref="prolog"/>
        <xs:group ref="cxxTypedefDetail"/>
        <xs:group minOccurs="0" ref="related-links"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="cxxTypedef-info-types"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="outputclass"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attributeGroup ref="arch-atts"/>
      <xs:attribute name="domains" default="(topic ui-d) (topic hi-d) (topic pr-d) (topic sw-d)                            (topic ut-d) (topic pr-d api-d) (topic pr-d api-d cxxapi-d)"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/topic reference/reference apiRef/apiRef apiValue/apiValue cxxTypedef/cxxTypedef "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxTypedefDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="cxxTypedefDefinition"/>
        <xs:group minOccurs="0" ref="apiDesc"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="example"/>
          <xs:group ref="section"/>
          <xs:group ref="apiImpl"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="id-atts"/>
      <xs:attribute name="translate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/body reference/refbody apiRef/apiDetail apiValue/apiValueDetail cxxTypedef/cxxTypedefDetail "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxTypedefDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="cxxTypedefAccessSpecifier"/>
        <xs:group minOccurs="0" ref="cxxTypedefDeclaredType"/>
        <xs:group minOccurs="0" ref="cxxTypedefScopedName"/>
        <xs:group minOccurs="0" ref="cxxTypedefPrototype"/>
        <xs:group minOccurs="0" ref="cxxTypedefNameLookup"/>
        <xs:group minOccurs="0" ref="cxxTypedefReimplemented"/>
        <xs:group minOccurs="0" ref="cxxTypedefAPIItemLocation"/>
      </xs:sequence>
      <xs:attribute name="spectitle"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/section reference/section apiRef/apiDef apiValue/apiValueDef cxxTypedef/cxxTypedefDefinition "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxTypedefAccessSpecifier">
    <xs:complexType>
      <xs:attribute name="name" default="access">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="access"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" default="public">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="public"/>
            <xs:enumeration value="protected"/>
            <xs:enumeration value="private"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiValue/apiQualifier cxxTypedef/cxxTypedefAccessSpecifier "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxTypedefDeclaredType">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="apiRelation"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiValue/apiDefItem cxxTypedef/cxxTypedefDeclaredType "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxTypedefScopedName">
    <xs:complexType mixed="true">
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="type"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/keyword reference/keyword apiRef/apiItemName apiValue/apiItemName cxxTypedef/cxxTypedefScopedName "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxTypedefPrototype">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiValue/apiDefItem cxxTypedef/cxxTypedefPrototype "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxTypedefNameLookup">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiValue/apiDefItem cxxTypedef/cxxTypedefNameLookup "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxTypedefReimplemented">
    <xs:complexType mixed="true">
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="type"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="format"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/xref reference/xref apiRef/apiRelation apiValue/apiRelation cxxTypedef/cxxTypedefReimplemented "/>
    </xs:complexType>
  </xs:element>
  <!-- Location information -->
  <xs:element name="cxxTypedefAPIItemLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="cxxTypedefDeclarationFile"/>
        <xs:group ref="cxxTypedefDeclarationFileLine"/>
      </xs:sequence>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiValue/apiDefItem cxxTypedef/cxxTypedefAPIItemLocation"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxTypedefDeclarationFile">
    <xs:complexType>
      <xs:attribute name="name" default="filePath">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="filePath"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiValue/apiQualifier cxxTypedef/cxxTypedefDeclarationFile "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxTypedefDeclarationFileLine">
    <xs:complexType>
      <xs:attribute name="name" default="lineNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="lineNumber"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiValue/apiQualifier cxxTypedef/cxxTypedefDeclarationFileLine "/>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- ============ Class attributes for type ancestry ============ -->
