src/main/resources/messages.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the DITA Open Toolkit project.

Copyright 2005 IBM Corporation

See the accompanying LICENSE file for applicable license.
-->
<!ELEMENT messages (message)+ >
<!ELEMENT message (reason, response) >
<!ATTLIST message id ID #REQUIRED >
<!ATTLIST message type (FATAL|ERROR|WARN|INFO|DEBUG) #REQUIRED >
<!ELEMENT reason (#PCDATA) >
<!ELEMENT response (#PCDATA) >
