src/main/resources/project.rnc


## Publication project
project = element project { includes* & deliverable? & publications* }

## Wrapper for reusable publications
publications = element publications { publication* }
includes =
  element include {
    attribute href { xsd:anyURI }
  }

## Project deliverable
deliverable =
  element deliverable {
    attribute name { text }?,
    # (inputs* & output & profile* & publication*)
    (context, output, (publication | publication-ref))
  }

## Context
context =
  element context {
    attribute name { text }?,
    attribute id { xsd:ID }?,
    inputs,
    profile
  }

## Input resources
inputs =
  element inputs {
    # (attribute ref { text }
    # | attribute name { text })?,
    input*
  }
  
## Input resource
input =
  element input {
    attribute href { xsd:anyURI }
  }

## Output directory
output = element output { xsd:anyURI }

## Filter and highligh profile
profile =
  element profile {
    # (attribute ref { text }
    # | attribute name { text })?,
    (ditaval | prop)*
  }
ditaval =
  element ditaval {
    attribute href { xsd:anyURI  }?,
    text
  }
prop =
  element prop {
    attribute val { text }?,
    attribute action { text }?,
    attribute att { text }?
  }

## Publication
publication =
  element publication {
    attribute name { text }?,
    attribute id { xsd:ID }?,
    attribute transtype { text },
    # (transtype, param*)
    param*
  }
# transtype =
#  element transtype {
#    attribute name { text }?
#  }

## Publication reference
publication-ref =
  element publication {
    attribute idref { xsd:ID }
  }
param =
  element param {
    attribute name { text }?,
    (attribute href { xsd:anyURI }
     | attribute value { text })
  }

## Input set
input-set = element input-set { inputs* }

## Profile set 
profile-set = element profile-set { profile* }

## Publication set
publication-set = element publication-set { publication* }
start = project
