demo/enote/enote_shell.xsd

<!-- (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved. -->

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
 <xs:attributeGroup name='select-atts'>
  <xs:attribute name='platform'/>
  <xs:attribute name='product'/>
  <xs:attribute name='audience'/>
  <xs:attribute name='otherprops'/>
  <xs:attribute name='importance'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='obsolete'/>
     <xs:enumeration value='deprecated'/>
     <xs:enumeration value='optional'/>
     <xs:enumeration value='default'/>
     <xs:enumeration value='low'/>
     <xs:enumeration value='normal'/>
     <xs:enumeration value='high'/>
     <xs:enumeration value='recommended'/>
     <xs:enumeration value='required'/>
     <xs:enumeration value='urgent'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='rev'/>
  <xs:attribute name='status'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='new'/>
     <xs:enumeration value='changed'/>
     <xs:enumeration value='deleted'/>
     <xs:enumeration value='unchanged'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='id-atts'>
  <xs:attribute name='id' type='xs:NMTOKEN'/>
  <xs:attribute name='conref'/>
 </xs:attributeGroup>
 <xs:attributeGroup name='univ-atts'>
  <xs:attributeGroup ref='id-atts'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attribute name='translate'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='display-atts'>
  <xs:attribute name='scale'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='50'/>
     <xs:enumeration value='60'/>
     <xs:enumeration value='70'/>
     <xs:enumeration value='80'/>
     <xs:enumeration value='90'/>
     <xs:enumeration value='100'/>
     <xs:enumeration value='110'/>
     <xs:enumeration value='120'/>
     <xs:enumeration value='140'/>
     <xs:enumeration value='160'/>
     <xs:enumeration value='180'/>
     <xs:enumeration value='200'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='frame'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='top'/>
     <xs:enumeration value='bottom'/>
     <xs:enumeration value='topbot'/>
     <xs:enumeration value='all'/>
     <xs:enumeration value='sides'/>
     <xs:enumeration value='none'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='expanse'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='page'/>
     <xs:enumeration value='column'/>
     <xs:enumeration value='textline'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='rel-atts'>
  <xs:attribute name='type'/>
  <xs:attribute name='role'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='parent'/>
     <xs:enumeration value='child'/>
     <xs:enumeration value='sibling'/>
     <xs:enumeration value='friend'/>
     <xs:enumeration value='next'/>
     <xs:enumeration value='previous'/>
     <xs:enumeration value='cousin'/>
     <xs:enumeration value='ancestor'/>
     <xs:enumeration value='descendant'/>
     <xs:enumeration value='sample'/>
     <xs:enumeration value='external'/>
     <xs:enumeration value='other'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='otherrole'/>
 </xs:attributeGroup>
 <xs:attributeGroup name='global-atts'>
  <xs:attribute name='xtrc'/>
  <xs:attribute name='xtrf'/>
 </xs:attributeGroup>
 <xs:element name='Bcc'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='recipient'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/li          enote/Bcc '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='Cc'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='recipient'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/li          enote/Cc '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='Date'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/li          enote/Date '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='Encrypt'>
  <xs:complexType>
  <xs:attribute name='state' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/boolean     enote/Encrypt '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='From'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='recipient'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/li          enote/From '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='Importance'>
  <xs:complexType>
  <xs:attribute name='name' default='priority'/>
  <xs:attribute name='value' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='normal'/>
     <xs:enumeration value='low'/>
     <xs:enumeration value='high'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/state       enote/Importance '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='InReplyTo'>
  <xs:complexType>
  <xs:attribute name='href'/>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='rel-atts'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attribute name='format' default='messageID'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/link        enote/InReplyTo '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='Priority'>
  <xs:complexType>
  <xs:attribute name='name' default='priority'/>
  <xs:attribute name='value' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='normal'/>
     <xs:enumeration value='non-urgent'/>
     <xs:enumeration value='urgent'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/state       enote/Priority '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='Reference'>
  <xs:complexType>
  <xs:attribute name='href'/>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='rel-atts'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attribute name='format' default='messageID'/>
  <xs:attribute name='outputclass'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='References'>
  <xs:complexType mixed='true'>
   <xs:complexContent>
    <xs:restriction base='xs:anyType'>
    <xs:attribute name='class' default='- topic/link        enote/References '/>
    </xs:restriction>
   </xs:complexContent>
  </xs:complexType>
 </xs:element>
 <xs:element name='ReturnReceipt'>
  <xs:complexType>
  <xs:attribute name='state' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/boolean     enote/ReturnReceipt '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='To'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='recipient'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/li          enote/To '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='alt'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/alt '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='attachments'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='image'/>
     <xs:element ref='object'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/li          enote/attachments '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='audience'>
  <xs:complexType>
  <xs:attribute name='type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='user'/>
     <xs:enumeration value='purchaser'/>
     <xs:enumeration value='administrator'/>
     <xs:enumeration value='programmer'/>
     <xs:enumeration value='executive'/>
     <xs:enumeration value='services'/>
     <xs:enumeration value='other'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='othertype'/>
  <xs:attribute name='job'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='installing'/>
     <xs:enumeration value='customizing'/>
     <xs:enumeration value='administering'/>
     <xs:enumeration value='programming'/>
     <xs:enumeration value='using'/>
     <xs:enumeration value='maintaining'/>
     <xs:enumeration value='troubleshooting'/>
     <xs:enumeration value='evaluating'/>
     <xs:enumeration value='planning'/>
     <xs:enumeration value='migrating'/>
     <xs:enumeration value='other'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='otherjob'/>
  <xs:attribute name='experiencelevel'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='novice'/>
     <xs:enumeration value='general'/>
     <xs:enumeration value='expert'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='name' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/audience '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='author'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attribute name='href'/>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attribute name='type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='creator'/>
     <xs:enumeration value='contributor'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/author '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='body'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='lq'/>
     <xs:element ref='note'/>
     <xs:element ref='dl'/>
     <xs:element ref='ul'/>
     <xs:element ref='ol'/>
     <xs:element ref='sl'/>
     <xs:element ref='pre'/>
     <xs:element ref='lines'/>
     <xs:element ref='fig'/>
     <xs:element ref='image'/>
     <xs:element ref='object'/>
     <xs:element ref='table'/>
     <xs:element ref='simpletable'/>
     <xs:element ref='required-cleanup'/>
     <xs:element ref='section'/>
     <xs:element ref='example'/>
   </xs:choice>
  <xs:attributeGroup ref='id-atts'/>
  <xs:attribute name='translate'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/body '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='boolean'>
  <xs:complexType>
  <xs:attribute name='state' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/boolean '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='brand'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/brand '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='category'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/category '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='cite'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
   </xs:choice>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/cite '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='colspec'>
  <xs:complexType>
  <xs:attribute name='colnum' type='xs:NMTOKEN'/>
  <xs:attribute name='colname' type='xs:NMTOKEN'/>
  <xs:attribute name='align'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='left'/>
     <xs:enumeration value='right'/>
     <xs:enumeration value='center'/>
     <xs:enumeration value='justify'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='colwidth'/>
  <xs:attribute name='colsep' type='xs:NMTOKEN'/>
  <xs:attribute name='rowsep' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/colspec '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='component'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/component '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='copyrholder'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/copyrholder '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='copyright'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='copyryear' maxOccurs='unbounded'/>
     <xs:element ref='copyrholder'/>
   </xs:sequence>
  <xs:attribute name='type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='primary'/>
     <xs:enumeration value='secondary'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/copyright '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='copyryear'>
  <xs:complexType>
  <xs:attribute name='year' use='required'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/copyryear '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='created'>
  <xs:complexType>
  <xs:attribute name='date' use='required'/>
  <xs:attribute name='golive'/>
  <xs:attribute name='expiry'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/created '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='critdates'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='created'/>
      <xs:element ref='revised' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/critdates '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='dd'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
    <xs:element ref='table'/>
    <xs:element ref='simpletable'/>
    <xs:element ref='itemgroup'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/dd '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='ddhd'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='image'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/ddhd '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='delivery'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='Priority' minOccurs='0'/>
      <xs:element ref='Importance' minOccurs='0'/>
      <xs:element ref='ReturnReceipt' minOccurs='0'/>
      <xs:element ref='Encrypt' minOccurs='0'/>
   </xs:sequence>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/li          enote/delivery '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='desc'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='image'/>
   </xs:choice>
  <xs:attributeGroup ref='id-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/desc '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='dl'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='dlhead' minOccurs='0'/>
      <xs:element ref='dlentry' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='compact'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='spectitle'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/dl '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='dlentry'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='dt' maxOccurs='unbounded'/>
      <xs:element ref='dd' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/dlentry '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='dlhead'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='dthd' minOccurs='0'/>
      <xs:element ref='ddhd' minOccurs='0'/>
   </xs:sequence>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/dlhead '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='draft-comment'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
    <xs:element ref='table'/>
    <xs:element ref='simpletable'/>
   </xs:choice>
  <xs:attribute name='author'/>
  <xs:attribute name='time'/>
  <xs:attribute name='disposition'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='issue'/>
     <xs:enumeration value='open'/>
     <xs:enumeration value='accepted'/>
     <xs:enumeration value='rejected'/>
     <xs:enumeration value='deferred'/>
     <xs:enumeration value='duplicate'/>
     <xs:enumeration value='reopened'/>
     <xs:enumeration value='unassigned'/>
     <xs:enumeration value='completed'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/draft-comment '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='dt'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='image'/>
   </xs:choice>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/dt '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='dthd'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='image'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/dthd '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='enote'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='subject'/>
      <xs:element ref='prolog' minOccurs='0'/>
      <xs:element ref='notedetail'/>
      <xs:element ref='relatednotes' minOccurs='0'/>
      <xs:element ref='topic' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='id' use='required' type='xs:ID'/>
  <xs:attribute name='conref'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='DTDVersion' fixed='V1.1.3'/>
  <xs:attribute name='domains' default=''/>
  <xs:attribute name='class' default='- topic/topic       enote/enote '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='entry'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attribute name='colname' type='xs:NMTOKEN'/>
  <xs:attribute name='namest' type='xs:NMTOKEN'/>
  <xs:attribute name='nameend' type='xs:NMTOKEN'/>
  <xs:attribute name='spanname' type='xs:NMTOKEN'/>
  <xs:attribute name='morerows' type='xs:NMTOKEN'/>
  <xs:attribute name='colsep' type='xs:NMTOKEN'/>
  <xs:attribute name='rowsep' type='xs:NMTOKEN'/>
  <xs:attribute name='valign'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='top'/>
     <xs:enumeration value='bottom'/>
     <xs:enumeration value='middle'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='align'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='left'/>
     <xs:enumeration value='right'/>
     <xs:enumeration value='center'/>
     <xs:enumeration value='justify'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='rev'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/entry '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='example'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
    <xs:element ref='table'/>
    <xs:element ref='simpletable'/>
    <xs:element ref='title'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attribute name='spectitle'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/example '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='featnum'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/featnum '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='fig'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='title' minOccurs='0'/>
      <xs:element ref='desc' minOccurs='0'/>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='figgroup'/>
       <xs:element ref='p'/>
       <xs:element ref='lq'/>
       <xs:element ref='note'/>
       <xs:element ref='dl'/>
       <xs:element ref='ul'/>
       <xs:element ref='ol'/>
       <xs:element ref='sl'/>
       <xs:element ref='pre'/>
       <xs:element ref='lines'/>
       <xs:element ref='image'/>
       <xs:element ref='object'/>
       <xs:element ref='simpletable'/>
     </xs:choice>
   </xs:sequence>
  <xs:attributeGroup ref='display-atts'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='spectitle'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/fig '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='figgroup'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='title' minOccurs='0'/>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='figgroup'/>
       <xs:element ref='xref'/>
       <xs:element ref='fn'/>
       <xs:element ref='ph'/>
       <xs:element ref='keyword'/>
     </xs:choice>
   </xs:sequence>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/figgroup '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='fn'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
   </xs:choice>
  <xs:attribute name='callout'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/fn '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='image'>
  <xs:complexType>
   <xs:sequence minOccurs='0'>
     <xs:element ref='alt'/>
   </xs:sequence>
  <xs:attribute name='href' use='required'/>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attribute name='alt'/>
  <xs:attribute name='longdescref'/>
  <xs:attribute name='height' type='xs:NMTOKEN'/>
  <xs:attribute name='width' type='xs:NMTOKEN'/>
  <xs:attribute name='align'/>
  <xs:attribute name='placement' default='inline'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='inline'/>
     <xs:enumeration value='break'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/image '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='indexterm'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/indexterm '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='indextermref'>
  <xs:complexType>
  <xs:attribute name='keyref' use='required' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/indextermref '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='itemgroup'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
    <xs:element ref='table'/>
    <xs:element ref='simpletable'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/itemgroup '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='keyword'>
  <xs:complexType mixed='true'>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/keyword '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='keywords'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='indexterm'/>
     <xs:element ref='keyword'/>
   </xs:choice>
  <xs:attributeGroup ref='id-atts'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/keywords '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='li'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
    <xs:element ref='table'/>
    <xs:element ref='simpletable'/>
    <xs:element ref='itemgroup'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/li '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='lines'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attributeGroup ref='display-atts'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='spectitle'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/lines '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='link'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='linktext' minOccurs='0'/>
      <xs:element ref='desc' minOccurs='0'/>
   </xs:sequence>
  <xs:attribute name='href'/>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='rel-atts'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attribute name='format'/>
  <xs:attribute name='scope'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='local'/>
     <xs:enumeration value='peer'/>
     <xs:enumeration value='external'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/link '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='linkinfo'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='image'/>
   </xs:choice>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/linkinfo '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='linklist'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='title' minOccurs='0'/>
      <xs:element ref='desc' minOccurs='0'/>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='linklist'/>
       <xs:element ref='link'/>
     </xs:choice>
      <xs:element ref='linkinfo' minOccurs='0'/>
   </xs:sequence>
  <xs:attribute name='collection-type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='unordered'/>
     <xs:enumeration value='sequence'/>
     <xs:enumeration value='choice'/>
     <xs:enumeration value='tree'/>
     <xs:enumeration value='family'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='duplicates'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='mapkeyref'/>
  <xs:attributeGroup ref='rel-atts'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attribute name='spectitle'/>
  <xs:attribute name='format'/>
  <xs:attribute name='scope'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='local'/>
     <xs:enumeration value='peer'/>
     <xs:enumeration value='external'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/linklist '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='linkpool'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='linkpool'/>
     <xs:element ref='link'/>
   </xs:choice>
  <xs:attribute name='collection-type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='unordered'/>
     <xs:enumeration value='sequence'/>
     <xs:enumeration value='choice'/>
     <xs:enumeration value='tree'/>
     <xs:enumeration value='family'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='duplicates'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='mapkeyref'/>
  <xs:attributeGroup ref='rel-atts'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attribute name='format'/>
  <xs:attribute name='scope'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='local'/>
     <xs:enumeration value='peer'/>
     <xs:enumeration value='external'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/linkpool '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='linktext'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/linktext '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='lq'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
    <xs:element ref='table'/>
    <xs:element ref='simpletable'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attribute name='href'/>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attribute name='type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='external'/>
     <xs:enumeration value='internal'/>
     <xs:enumeration value='bibliographic'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='reftitle'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/lq '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='metadata'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='audience' minOccurs='0' maxOccurs='unbounded'/>
      <xs:element ref='category' minOccurs='0' maxOccurs='unbounded'/>
      <xs:element ref='keywords' minOccurs='0' maxOccurs='unbounded'/>
      <xs:element ref='prodinfo' minOccurs='0' maxOccurs='unbounded'/>
      <xs:element ref='othermeta' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='mapkeyref'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/metadata '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='navtitle'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='id-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/navtitle '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='no-topic-nesting'>
  <xs:complexType>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/no-topic-nesting '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='note'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
    <xs:element ref='table'/>
    <xs:element ref='simpletable'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attribute name='type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='note'/>
     <xs:enumeration value='tip'/>
     <xs:enumeration value='fastpath'/>
     <xs:enumeration value='restriction'/>
     <xs:enumeration value='important'/>
     <xs:enumeration value='remember'/>
     <xs:enumeration value='attention'/>
     <xs:enumeration value='caution'/>
     <xs:enumeration value='danger'/>
     <xs:enumeration value='other'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='spectitle'/>
  <xs:attribute name='othertype'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/note '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='notebody'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='pre'/>
    <xs:element ref='simpletable'/>
   </xs:choice>
  <xs:attribute name='spectitle'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/section     enote/notebody '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='notedetail'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='noteheader'/>
      <xs:element ref='notebody' minOccurs='0'/>
   </xs:sequence>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/body        enote/notedetail '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='noteheader'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='From'/>
      <xs:element ref='To' minOccurs='0'/>
      <xs:element ref='Cc' minOccurs='0'/>
      <xs:element ref='Bcc' minOccurs='0'/>
      <xs:element ref='Date' minOccurs='0'/>
      <xs:element ref='delivery' minOccurs='0'/>
      <xs:element ref='attachments' minOccurs='0'/>
   </xs:sequence>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/ul          enote/noteheader '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='object'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='desc' minOccurs='0'/>
      <xs:element ref='param' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='declare'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='declare'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='classid'/>
  <xs:attribute name='codebase'/>
  <xs:attribute name='data'/>
  <xs:attribute name='type'/>
  <xs:attribute name='codetype'/>
  <xs:attribute name='archive'/>
  <xs:attribute name='standby'/>
  <xs:attribute name='height' type='xs:NMTOKEN'/>
  <xs:attribute name='width' type='xs:NMTOKEN'/>
  <xs:attribute name='usemap'/>
  <xs:attribute name='name'/>
  <xs:attribute name='tabindex' type='xs:NMTOKEN'/>
  <xs:attribute name='longdescref'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/object '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='ol'>
  <xs:complexType>
   <xs:sequence maxOccurs='unbounded'>
     <xs:element ref='li'/>
   </xs:sequence>
  <xs:attribute name='compact'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='spectitle'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/ol '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='othermeta'>
  <xs:complexType>
  <xs:attribute name='name' use='required'/>
  <xs:attribute name='content' use='required'/>
  <xs:attribute name='translate-content'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/othermeta '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='p'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
    <xs:element ref='table'/>
    <xs:element ref='simpletable'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/p '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='param'>
  <xs:complexType>
  <xs:attribute name='name' use='required'/>
  <xs:attribute name='id' type='xs:ID'/>
  <xs:attribute name='value'/>
  <xs:attribute name='valuetype'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='data'/>
     <xs:enumeration value='ref'/>
     <xs:enumeration value='object'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='type'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/param '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='permissions'>
  <xs:complexType>
  <xs:attribute name='view' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='internal'/>
     <xs:enumeration value='classified'/>
     <xs:enumeration value='all'/>
     <xs:enumeration value='entitled'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/permissions '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='ph'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='image'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/ph '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='platform'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/platform '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='pre'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attributeGroup ref='display-atts'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='spectitle'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/pre '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='prodinfo'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='prodname'/>
     <xs:element ref='vrmlist'/>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='brand'/>
       <xs:element ref='series'/>
       <xs:element ref='platform'/>
       <xs:element ref='prognum'/>
       <xs:element ref='featnum'/>
       <xs:element ref='component'/>
     </xs:choice>
   </xs:sequence>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/prodinfo '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='prodname'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/prodname '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='prognum'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/prognum '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='prolog'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='author' minOccurs='0' maxOccurs='unbounded'/>
      <xs:element ref='source' minOccurs='0'/>
      <xs:element ref='publisher' minOccurs='0'/>
      <xs:element ref='copyright' minOccurs='0' maxOccurs='unbounded'/>
      <xs:element ref='critdates' minOccurs='0'/>
      <xs:element ref='permissions' minOccurs='0'/>
      <xs:element ref='metadata' minOccurs='0' maxOccurs='unbounded'/>
      <xs:element ref='resourceid' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/prolog '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='publisher'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attribute name='href'/>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/publisher '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='q'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/q '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='recipient'>
  <xs:complexType mixed='true'>
  <xs:attribute name='href'/>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='format' default='mailto'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/xref        enote/recipient '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='related-links'>
  <xs:complexType>
   <xs:choice maxOccurs='unbounded'>
     <xs:element ref='link'/>
     <xs:element ref='linklist'/>
     <xs:element ref='linkpool'/>
   </xs:choice>
  <xs:attributeGroup ref='rel-atts'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attribute name='format'/>
  <xs:attribute name='scope'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='local'/>
     <xs:enumeration value='peer'/>
     <xs:enumeration value='external'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/related-links '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='relatednotes'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='InReplyTo' minOccurs='0'/>
      <xs:element ref='Reference' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attributeGroup ref='rel-atts'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/related-links enote/relatednotes '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='required-cleanup'>
  <xs:complexType mixed='true'>
   <xs:complexContent>
    <xs:restriction base='xs:anyType'>
    <xs:attribute name='remap'/>
    <xs:attributeGroup ref='univ-atts'/>
    <xs:attribute name='outputclass'/>
    <xs:attributeGroup ref='global-atts'/>
    <xs:attribute name='class' default='- topic/required-cleanup '/>
    </xs:restriction>
   </xs:complexContent>
  </xs:complexType>
 </xs:element>
 <xs:element name='resourceid'>
  <xs:complexType>
  <xs:attribute name='id' use='required'/>
  <xs:attribute name='appname'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/resourceid '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='revised'>
  <xs:complexType>
  <xs:attribute name='modified' use='required'/>
  <xs:attribute name='golive'/>
  <xs:attribute name='expiry'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/revised '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='row'>
  <xs:complexType>
   <xs:sequence maxOccurs='unbounded'>
     <xs:element ref='entry'/>
   </xs:sequence>
  <xs:attribute name='rowsep' type='xs:NMTOKEN'/>
  <xs:attribute name='valign'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='top'/>
     <xs:enumeration value='bottom'/>
     <xs:enumeration value='middle'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/row '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='searchtitle'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='id-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/searchtitle '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='section'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
    <xs:element ref='table'/>
    <xs:element ref='simpletable'/>
    <xs:element ref='title'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attribute name='spectitle'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/section '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='series'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/series '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='shortdesc'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='image'/>
   </xs:choice>
  <xs:attributeGroup ref='id-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/shortdesc '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='simpletable'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='sthead' minOccurs='0'/>
      <xs:element ref='strow' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='relcolwidth'/>
  <xs:attribute name='keycol' type='xs:NMTOKEN'/>
  <xs:attribute name='refcols' type='xs:NMTOKENS'/>
  <xs:attributeGroup ref='display-atts'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='spectitle'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/simpletable '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='sl'>
  <xs:complexType>
   <xs:sequence maxOccurs='unbounded'>
     <xs:element ref='sli'/>
   </xs:sequence>
  <xs:attribute name='compact'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='spectitle'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/sl '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='sli'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='image'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/sli '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='source'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='keyword'/>
    <xs:element ref='term'/>
   </xs:choice>
  <xs:attribute name='href'/>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/source '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='spanspec'>
  <xs:complexType>
  <xs:attribute name='namest' use='required' type='xs:NMTOKEN'/>
  <xs:attribute name='nameend' use='required' type='xs:NMTOKEN'/>
  <xs:attribute name='spanname' use='required' type='xs:NMTOKEN'/>
  <xs:attribute name='align'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='left'/>
     <xs:enumeration value='right'/>
     <xs:enumeration value='center'/>
     <xs:enumeration value='justify'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='colsep' type='xs:NMTOKEN'/>
  <xs:attribute name='rowsep' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/spanspec '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='state'>
  <xs:complexType>
  <xs:attribute name='name' use='required'/>
  <xs:attribute name='value' use='required'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/state '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='stentry'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='xref'/>
    <xs:element ref='cite'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='p'/>
    <xs:element ref='lq'/>
    <xs:element ref='note'/>
    <xs:element ref='dl'/>
    <xs:element ref='ul'/>
    <xs:element ref='ol'/>
    <xs:element ref='sl'/>
    <xs:element ref='pre'/>
    <xs:element ref='lines'/>
    <xs:element ref='fig'/>
    <xs:element ref='image'/>
    <xs:element ref='object'/>
    <xs:element ref='draft-comment'/>
    <xs:element ref='required-cleanup'/>
    <xs:element ref='fn'/>
    <xs:element ref='indextermref'/>
    <xs:element ref='indexterm'/>
   </xs:choice>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='specentry'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/stentry '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='sthead'>
  <xs:complexType>
   <xs:sequence maxOccurs='unbounded'>
     <xs:element ref='stentry'/>
   </xs:sequence>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/sthead '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='strow'>
  <xs:complexType>
   <xs:sequence minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='stentry'/>
   </xs:sequence>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/strow '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='subject'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='id-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='class' default='- topic/title       enote/subject '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='table'>
  <xs:complexType>
   <xs:sequence>
     <xs:sequence minOccurs='0'>
        <xs:element ref='title' minOccurs='0'/>
        <xs:element ref='desc' minOccurs='0'/>
     </xs:sequence>
      <xs:element ref='tgroup' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attributeGroup ref='display-atts'/>
  <xs:attribute name='colsep' type='xs:NMTOKEN'/>
  <xs:attribute name='rowsep' type='xs:NMTOKEN'/>
  <xs:attribute name='rowheader'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='firstcol'/>
     <xs:enumeration value='norowheader'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/table '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='tbody'>
  <xs:complexType>
   <xs:sequence maxOccurs='unbounded'>
     <xs:element ref='row'/>
   </xs:sequence>
  <xs:attribute name='valign'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='top'/>
     <xs:enumeration value='middle'/>
     <xs:enumeration value='bottom'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/tbody '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='term'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='tm'/>
   </xs:choice>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/term '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='tfoot'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='colspec' minOccurs='0' maxOccurs='unbounded'/>
      <xs:element ref='row' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='valign'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='top'/>
     <xs:enumeration value='middle'/>
     <xs:enumeration value='bottom'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/tfoot '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='tgroup'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='colspec' minOccurs='0' maxOccurs='unbounded'/>
      <xs:element ref='spanspec' minOccurs='0' maxOccurs='unbounded'/>
      <xs:element ref='thead' minOccurs='0'/>
      <xs:element ref='tfoot' minOccurs='0'/>
     <xs:element ref='tbody'/>
   </xs:sequence>
  <xs:attribute name='cols' use='required' type='xs:NMTOKEN'/>
  <xs:attribute name='colsep' type='xs:NMTOKEN'/>
  <xs:attribute name='rowsep' type='xs:NMTOKEN'/>
  <xs:attribute name='align'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='left'/>
     <xs:enumeration value='right'/>
     <xs:enumeration value='center'/>
     <xs:enumeration value='justify'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/tgroup '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='thead'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='colspec' minOccurs='0' maxOccurs='unbounded'/>
      <xs:element ref='row' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='valign'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='top'/>
     <xs:enumeration value='middle'/>
     <xs:enumeration value='bottom'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/thead '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='title'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='image'/>
   </xs:choice>
  <xs:attributeGroup ref='id-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/title '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='titlealts'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='navtitle' minOccurs='0'/>
      <xs:element ref='searchtitle' minOccurs='0'/>
   </xs:sequence>
  <xs:attributeGroup ref='id-atts'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/titlealts '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='tm'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='tm'/>
   </xs:choice>
  <xs:attribute name='trademark'/>
  <xs:attribute name='tmowner'/>
  <xs:attribute name='tmtype' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='tm'/>
     <xs:enumeration value='reg'/>
     <xs:enumeration value='service'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='tmclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/tm '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='topic'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='title'/>
      <xs:element ref='titlealts' minOccurs='0'/>
      <xs:element ref='shortdesc' minOccurs='0'/>
      <xs:element ref='prolog' minOccurs='0'/>
     <xs:element ref='body'/>
      <xs:element ref='related-links' minOccurs='0'/>
      <xs:element ref='topic' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='id' use='required' type='xs:ID'/>
  <xs:attribute name='conref'/>
  <xs:attributeGroup ref='select-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attribute name='DTDVersion' fixed='V1.1.3'/>
  <xs:attribute name='domains' default=''/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/topic '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='ul'>
  <xs:complexType>
   <xs:sequence maxOccurs='unbounded'>
     <xs:element ref='li'/>
   </xs:sequence>
  <xs:attribute name='compact'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='spectitle'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/ul '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='vrm'>
  <xs:complexType>
  <xs:attribute name='version' use='required'/>
  <xs:attribute name='release'/>
  <xs:attribute name='modification'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/vrm '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='vrmlist'>
  <xs:complexType>
   <xs:sequence maxOccurs='unbounded'>
     <xs:element ref='vrm'/>
   </xs:sequence>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/vrmlist '/>
  </xs:complexType>
 </xs:element>
 <xs:element name='xref'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='ph'/>
    <xs:element ref='term'/>
    <xs:element ref='q'/>
    <xs:element ref='boolean'/>
    <xs:element ref='state'/>
    <xs:element ref='keyword'/>
    <xs:element ref='tm'/>
    <xs:element ref='image'/>
   </xs:choice>
  <xs:attribute name='href'/>
  <xs:attribute name='keyref' type='xs:NMTOKEN'/>
  <xs:attribute name='type'/>
  <xs:attributeGroup ref='univ-atts'/>
  <xs:attribute name='format'/>
  <xs:attribute name='scope'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='local'/>
     <xs:enumeration value='peer'/>
     <xs:enumeration value='external'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='outputclass'/>
  <xs:attributeGroup ref='global-atts'/>
  <xs:attribute name='class' default='- topic/xref '/>
  </xs:complexType>
 </xs:element>
</xs:schema>
