src/main/demo/FrameMaker_adapter/fm_app/fm_print.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--DTD for fm_topicgroup. Typically invoked by
      <!DOCTYPE  fm_topicgroup  SYSTEM
    "D:\Mekon\DITA\DITA-OT\demo\FrameMaker_adapter\fm_app\fm_print.dtd">
-->


<!--D:\Mekon\DITA\DITA-OT\demo\FrameMaker_adapter\fm_app\template.fm-->

<!--February 27, 2006-->
<!-- Modifications by debbiep-sf at sourceforge, 2006-10-26. -->
<!ENTITY hardreturn "">
<!ELEMENT fm_topicgroup 
                     (booktitle | bookmeta | topic)+ >

<!ELEMENT abstract   (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | lines | fig | image | object |
                              fm_table_title_external | fm_table_desc_external
                              | fm_div | draft-comment | fn | indextermref | shortdesc)* >
<!ATTLIST abstract   id        CDATA     #IMPLIED
                     outputclass  CDATA  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/abstract ">
                              
<!ELEMENT anchor     EMPTY >
<!ATTLIST anchor     id        ID        #REQUIRED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/anchor" >

<!ELEMENT audience   EMPTY >
<!ATTLIST audience   type      (user|purchaser|administrator|programmer|executive|services|other)  #IMPLIED
                     othertype  CDATA     #IMPLIED
                     job       (installing|customizing|administering|programming|using|maintaining|troubleshooting|evaluating|planning|migrating|other)  #IMPLIED
                     otherjob  CDATA     #IMPLIED
                     experiencelevel  (novice|general|expert)  #IMPLIED
                     name      CDATA     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/audience" >

<!ELEMENT author     (#PCDATA | keyword | term)* >
<!ATTLIST author     href      CDATA     #IMPLIED
                     keyref    CDATA     #IMPLIED
                     type      (creator|contributor)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/author" >

<!ELEMENT body       (p | lq | note | dl | ul | ol | sl | pre | lines |
                              fig | object | fm_table_title_external |
                              fm_table_desc_external | fm_div | section |
                              example)* >
<!ATTLIST body       id ID     #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.body" >

<!ELEMENT boolean    EMPTY >
<!ATTLIST boolean    state     (yes|no)  #REQUIRED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.boolean" >

<!ELEMENT brand      (#PCDATA | keyword | term)* >
<!ATTLIST brand      xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/brand" >

<!ELEMENT category   (#PCDATA | keyword | term)* >
<!ATTLIST category   platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/category" >

<!ELEMENT cite       (#PCDATA | ph | term | q | boolean | state | keyword
                              | tm)* >
<!ATTLIST cite       keyref    CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.cite" >

<!ELEMENT component  (#PCDATA | keyword | term)* >
<!ATTLIST component  xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/component" >

<!ELEMENT copyrholder 
                     (#PCDATA | keyword | term)* >
<!ATTLIST copyrholder 
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/copyrholder" >

<!ELEMENT copyright  ((copyryear)+, copyrholder) >
<!ATTLIST copyright  type      (primary|secondary)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/copyright" >

<!ELEMENT copyryear  EMPTY >
<!ATTLIST copyryear  year      CDATA     #REQUIRED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/copyryear" >

<!ELEMENT created    EMPTY >
<!ATTLIST created    date      CDATA     #REQUIRED
                     golive    CDATA     #IMPLIED
                     expiry    CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/created" >

<!ELEMENT critdates  (created, (revised)*) >
<!ATTLIST critdates  xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/critdates" >

<!ELEMENT dd         (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | lines | fig | image | object |
                              fm_table_title_external | fm_table_desc_external
                              | fm_div | itemgroup | draft-comment | fn |
                              indextermref)* >
<!ATTLIST dd         id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.dd" >

<!ELEMENT ddhd       (#PCDATA | ph | term | q | boolean | state | keyword
                              | tm | image)* >
<!ATTLIST ddhd       id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.ddhd" >

<!ELEMENT desc       (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | lines | image)* >
<!ATTLIST desc       id ID     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.desc" >

<!ELEMENT dl         ((dlhead)?, (dlentry)+) >
<!ATTLIST dl         compact   (yes|no)  #IMPLIED
                     spectitle  CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.dl" >

<!ELEMENT dlentry    ((dt)+, (dd)+) >
<!ATTLIST dlentry    id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.dlentry" >

<!ELEMENT dlhead     ((dthd)?, (ddhd)?) >
<!ATTLIST dlhead     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.dlhead" >

<!ELEMENT draft-comment 
                     (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | lines | fig | image | object |
                              fm_table_title_external | fm_table_desc_external
                              | fm_div)* >
<!ATTLIST draft-comment 
                     author    CDATA     #IMPLIED
                     time      CDATA     #IMPLIED
                     disposition  (issue|open|accepted|rejected|deferred|duplicate|reopened|unassigned|completed)  #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.draft-comment" >

<!ELEMENT dt         (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | image)* >
<!ATTLIST dt         keyref    CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.dt" >

<!ELEMENT dthd       (#PCDATA | ph | term | q | boolean | state | keyword
                              | tm | image)* >
<!ATTLIST dthd       id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.dthd" >

<!ELEMENT entry      (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | lines | fig | fm_div | image |
                              object | draft-comment | fn | indextermref)* >
<!ATTLIST entry      colname   NMTOKEN   #IMPLIED
                     namest    NMTOKEN   #IMPLIED
                     nameend   NMTOKEN   #IMPLIED
                     morerows  NMTOKEN   #IMPLIED
                     colsep    NMTOKEN   #IMPLIED
                     rowsep    NMTOKEN   #IMPLIED
                     align     (left|right|center|justify|char)  #IMPLIED
                     char      CDATA     #IMPLIED
                     charoff   CDATA     #IMPLIED
                     valign    (top|middle|bottom)  #IMPLIED
                     id ID     #IMPLIED
                     rev       CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.entry" >

<!ELEMENT example    (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | lines | fig | image | object |
                              fm_table_title_external | fm_table_desc_external
                              | fm_div | title | draft-comment | fn |
                              indextermref)* >
<!ATTLIST example    spectitle  CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.example" >

<!ELEMENT featnum    (#PCDATA | keyword | term)* >
<!ATTLIST featnum    xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/featnum" >

<!ELEMENT fig        ((title)?, (desc)?, (figgroup | p | lq | note | dl |
                              ul | ol | sl | pre | lines | fm_div | object | title)*) >
<!ATTLIST fig        scale     (50|60|70|80|90|100|110|120|140|160|180|200)  #IMPLIED
                     expanse   (page|column|textline)  #IMPLIED
                     spectitle  CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.fig" >

<!ELEMENT figgroup   ((title)?, (figgroup | xref | fn | ph | keyword)*) >
<!ATTLIST figgroup   id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.figgroup" >

<!ELEMENT fm_div     (#PCDATA | image | table | ph | term | xref | cite |
                              q | boolean | state | keyword | tm | fn)* >
<!ATTLIST fm_div     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     #IMPLIED
                     fm_image_align  (left|center|right)  #IMPLIED >

<!ELEMENT fm_external_link_with_anchor_text 
                     (fm_external_linktext,
                              fm_external_url_after_content) >
<!ATTLIST fm_external_link_with_anchor_text 
					 href      CDATA     #IMPLIED
					 xmlns:xlink CDATA #IMPLIED
                     class     CDATA     "- topic/xref"
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     type      CDATA     #IMPLIED
                     format    CDATA     "dita"
                     scope	      CDATA     #IMPLIED >

<!ELEMENT fm_external_linktext 
                     (#PCDATA | ph | term | q | boolean | state | keyword
                              | tm | image | desc)* >
<!ATTLIST fm_external_linktext 
					 href      CDATA     #IMPLIED
					 xmlns:xlink CDATA #IMPLIED
                     class     CDATA     "- topic/xref"
                     xtrc      CDATA     #IMPLIED
                     type      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     format    CDATA     "dita"
                     scope	      CDATA     #IMPLIED >

<!ELEMENT fm_external_url_after_content 
                     (#PCDATA) >
<!ATTLIST fm_external_url_after_content
					 href      CDATA     #IMPLIED
					 xmlns:xlink CDATA #IMPLIED
                     class     CDATA     "- topic/xref"
                     xtrc      CDATA     #IMPLIED
                     type      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     format    CDATA     "dita"
                     scope	      CDATA     #IMPLIED >
<!ELEMENT fm_internal_link_with_anchor_text 
                     (fm_internal_linktext,
                              fm_internal_xref_after_content) >
<!ATTLIST fm_internal_link_with_anchor_text 
					 href      CDATA     #IMPLIED
					 xmlns:xlink CDATA #IMPLIED
                     class     CDATA     "- topic/xref"
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     format    CDATA     "dita"
                     type      CDATA     #IMPLIED
                     scope	      CDATA     #IMPLIED >

<!ELEMENT fm_internal_linktext 
                     (#PCDATA | ph | term | q | boolean | state | keyword
                              | tm | image | desc)* >
<!ATTLIST fm_internal_linktext 
					 href      CDATA     #IMPLIED
                     class     CDATA     "- topic/xref"
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     format    CDATA     "dita"
                     type      CDATA     #IMPLIED
                     scope	      CDATA     #IMPLIED >

<!ELEMENT fm_internal_xref_after_content 
                     EMPTY >
<!ATTLIST fm_internal_xref_after_content 
                     idref     IDREF     #REQUIRED
                     format    CDATA     "dita"
                     srcfile   CDATA     #IMPLIED
 					 href      CDATA     #IMPLIED
                     class     CDATA     "- topic/xref"
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     type      CDATA     #IMPLIED
                     scope	      CDATA     #IMPLIED >

<!ELEMENT fm_table_desc_external 
                     (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | fm_div | lines | image)* >
<!ATTLIST fm_table_desc_external 
                     id ID     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.desc" >

<!ELEMENT fm_table_title_external 
                     (#PCDATA | ph | term | q | boolean | state | keyword
                              | tm | image)* >
<!ATTLIST fm_table_title_external 
                     id ID     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.title" >

<!ELEMENT fm_table_title_internal 
                     (#PCDATA | ph | term | q | boolean | state | keyword
                              | tm | image)* >
<!ATTLIST fm_table_title_internal 
                     id ID     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.title" >

<!ELEMENT fn         (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | lines | fig | fm_div | image |
                              object)* >
<!ATTLIST fn         callout   CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.fn" >

<!ELEMENT image      EMPTY >
<!ATTLIST image      fm_file   CDATA     #IMPLIED
                     fm_dpi    NMTOKEN   #IMPLIED
                     fm_position  NMTOKEN   #IMPLIED
                     fm_baseline_offset  CDATA     #IMPLIED
                     fm_alignment  NMTOKEN   #IMPLIED
                     fm_height  CDATA     #IMPLIED
                     fm_width  CDATA     #IMPLIED
                     fm_xoffset  CDATA     #IMPLIED
                     fm_yoffset  CDATA     #IMPLIED
                     href      CDATA     #IMPLIED
                     keyref    CDATA     #IMPLIED
                     alt       CDATA     #IMPLIED
                     longdescref  CDATA     #IMPLIED
                     height    CDATA     #IMPLIED
                     width     CDATA     #IMPLIED
                     align     CDATA     #IMPLIED
                     placement  (inline|break)  "inline"
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.image"
                     entity    ENTITY    #IMPLIED
                     rasterdpi  NMTOKEN   #IMPLIED
                     impsize   CDATA     #IMPLIED
                     impby     (ref|copy)  #IMPLIED
                     sideways  NMTOKEN   #IMPLIED
                     impang    CDATA     #IMPLIED
                     cropped   NMTOKEN   #IMPLIED
                     float     NMTOKEN   #IMPLIED
                     angle     CDATA     #IMPLIED
                     nsoffset  CDATA     #IMPLIED >

<!ELEMENT indextermref 
                     EMPTY >
<!ATTLIST indextermref 
                     keyref    CDATA     #REQUIRED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.indextermref" >

<!ELEMENT itemgroup  (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | lines | fig | image | object |
                              fm_table_title_external | fm_table_desc_external
                              | fm_div | draft-comment | fn | indextermref)* >
<!ATTLIST itemgroup  id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.itemgroup" >

<!ELEMENT keyword    (#PCDATA | tm)* >
<!ATTLIST keyword    keyref    CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.keyword" >

<!ELEMENT keywords   (keyword)* >
<!ATTLIST keywords   id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/keywords" >

<!ELEMENT li         (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | lines | fig | image | object |
                              fm_table_title_external | fm_table_desc_external
                              | fm_div | itemgroup | draft-comment | fn |
                              indextermref)* >
<!ATTLIST li         id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.li" >

<!ELEMENT lines      (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | draft-comment | fn |
                              indextermref)* >
<!ATTLIST lines      scale     (50|60|70|80|90|100|110|120|140|160|180|200)  #IMPLIED
                     expanse   (page|column|textline)  #IMPLIED
                     spectitle  CDATA     #IMPLIED
                     xml:space  (preserve)  "preserve"
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.lines" >

<!ELEMENT link       ((linktext)?, (desc)?) >
<!ATTLIST link       href      CDATA     #IMPLIED
                     keyref    CDATA     #IMPLIED
                     query     CDATA     #IMPLIED
                     type      CDATA     #IMPLIED
                     role      (parent|child|sibling|friend|next|previous|cousin|ancestor|descendant|sample|external|other)  #IMPLIED
                     otherrole  CDATA     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     format    CDATA     #IMPLIED
                     scope     (local|peer|external)  #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.link" >

<!ELEMENT linkinfo   (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | lines | fm_div | image)* >
<!ATTLIST linkinfo   xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.linkinfo" >

<!ELEMENT linklist   ((title)?, (desc)?, (linklist | link)*, (linkinfo)?)>
<!ATTLIST linklist   collection-type  (unordered|sequence|choice|tree|family)  #IMPLIED
                     duplicates  (yes|no)  #IMPLIED
                     mapkeyref  CDATA     #IMPLIED
                     type      CDATA     #IMPLIED
                     role      (parent|child|sibling|friend|next|previous|cousin|ancestor|descendant|sample|external|other)  #IMPLIED
                     otherrole  CDATA     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     spectitle  CDATA     #IMPLIED
                     format    CDATA     #IMPLIED
                     scope     (local|peer|external)  #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.linklist" >

<!ELEMENT linkpool   (linkpool | link)* >
<!ATTLIST linkpool   collection-type  (unordered|sequence|choice|tree|family)  #IMPLIED
                     duplicates  (yes|no)  #IMPLIED
                     mapkeyref  CDATA     #IMPLIED
                     type      CDATA     #IMPLIED
                     role      (parent|child|sibling|friend|next|previous|cousin|ancestor|descendant|sample|external|other)  #IMPLIED
                     otherrole  CDATA     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     format    CDATA     #IMPLIED
                     scope     (local|peer|external)  #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.linkpool" >

<!ELEMENT linktext   (#PCDATA | keyword | term)* >
<!ATTLIST linktext   xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.linktext" >

<!ELEMENT lq         (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | note | dl | ul | ol |
                              sl | pre | lines | fig | image | object |
                              fm_table_title_external | fm_table_desc_external
                              | fm_div | draft-comment | fn | indextermref)* >
<!ATTLIST lq         href      CDATA     #IMPLIED
                     keyref    CDATA     #IMPLIED
                     type      (external|internal|bibliographic)  #IMPLIED
                     reftitle  CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.lq" >

<!ELEMENT map        ((booktitle)?, (bookmeta)?, (topic | fm_topicgroup)*) >
<!ATTLIST map        title     CDATA     #IMPLIED
                     id        ID        #IMPLIED
                     anchorref  CDATA     #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     xmlns:ditaarch  CDATA     "http://dita.oasis-open.org/architecture/2005/"
                     ditaarch:DITAArchVersion  CDATA     "1.1"
                     domains   CDATA     #IMPLIED
                     collection-type  (choice|unordered|sequence|family)  #IMPLIED
                     type      CDATA     #IMPLIED
                     scope     (local|peer|external)  #IMPLIED
                     locktitle  (yes|no)  #IMPLIED
                     format    CDATA     #IMPLIED
                     linking   (none|normal|sourceonly|targetonly)  #IMPLIED
                     toc       (yes|no)  #IMPLIED
                     print     (yes|no)  #IMPLIED
                     search    (yes|no)  #IMPLIED
                     chunk     CDATA     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/map" >

<!ELEMENT map.linktext 
                     (#PCDATA | keyword)* >
<!ATTLIST map.linktext 
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/linktext" >

<!ELEMENT map.searchtitle 
                     (#PCDATA | keyword)* >
<!ATTLIST map.searchtitle 
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/searchtitle" >

<!ELEMENT map.shortdesc 
                     (#PCDATA | keyword)* >
<!ATTLIST map.shortdesc 
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/shortdesc" >

<!ELEMENT metadata   ((audience)*, (category)*, (keywords)*, (prodinfo)*,
                              (othermeta)*) >
<!ATTLIST metadata   mapkeyref  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.metadata" >

<!ELEMENT chapter-head 
                     EMPTY >
<!ATTLIST chapter-head 
                     id ID     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED >

<!ELEMENT navref     EMPTY >
<!ATTLIST navref     mapref    CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/navref" >

<!ELEMENT navtitle   (#PCDATA | keyword | term)* >
<!ATTLIST navtitle   id ID     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.navtitle" >

<!ELEMENT note       (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | dl | ul | ol |
                              sl | pre | lines | fig | image | object |
                              fm_table_title_external | fm_table_desc_external
                              | fm_div | draft-comment | fn | indextermref)* >
<!ATTLIST note       type      (note|tip|fastpath|restriction|important|remember|attention|caution|danger|other)  #IMPLIED
                     spectitle  CDATA     #IMPLIED
                     othertype  CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.note" >

<!ELEMENT object     ((desc)?, (param)*) >
<!ATTLIST object     declare   (declare)  #IMPLIED
                     classid   CDATA     #IMPLIED
                     codebase  CDATA     #IMPLIED
                     data      CDATA     #IMPLIED
                     type      CDATA     #IMPLIED
                     codetype  CDATA     #IMPLIED
                     archive   CDATA     #IMPLIED
                     standby   CDATA     #IMPLIED
                     height    CDATA     #IMPLIED
                     width     CDATA     #IMPLIED
                     usemap    CDATA     #IMPLIED
                     name      CDATA     #IMPLIED
                     tabindex  CDATA     #IMPLIED
                     longdescre  CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.object" >

<!ELEMENT ol         (li)+ >
<!ATTLIST ol         compact   (yes|no)  #IMPLIED
                     spectitle  CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.ol" >

<!ELEMENT othermeta  EMPTY >
<!ATTLIST othermeta  name      CDATA     #REQUIRED
                     content   CDATA     #REQUIRED
                     translate-content  (yes|no)  #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/othermeta" >

<!ELEMENT p          (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | lq | note | dl | ul | ol
                              | sl | pre | lines | fig | image | object |
                              fm_table_title_external | fm_table_desc_external
                              | fm_div | draft-comment | fn | indextermref)* >
<!ATTLIST p          id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.p"
                     fm_image_align  (left|center|right)  #IMPLIED >

<!ELEMENT param      EMPTY >
<!ATTLIST param      name      CDATA     #REQUIRED
                     id        ID        #IMPLIED
                     value     CDATA     #IMPLIED
                     valuetype  (data|ref|object)  #IMPLIED
                     type      CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.param" >

<!ELEMENT permissions 
                     EMPTY >
<!ATTLIST permissions 
                     view      (internal|classified|all|entitled)  #REQUIRED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/permissions" >

<!ELEMENT ph         (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | image | draft-comment |
                              fn | indextermref)* >
<!ATTLIST ph         keyref    CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.ph" >

<!ELEMENT platform   (#PCDATA | keyword | term)* >
<!ATTLIST platform   xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/platform" >

<!ELEMENT pre        (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | draft-comment | fn |
                              indextermref)* >
<!ATTLIST pre        scale     (50|60|70|80|90|100|110|120|140|160|180|200)  #IMPLIED
                     expanse   (page|column|textline)  #IMPLIED
                     spectitle  CDATA     #IMPLIED
                     xml:space  (preserve)  "preserve"
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.pre" >

<!ELEMENT prodinfo   ((prodname), (vrmlist), (brand | series | platform |
                              prognum | featnum | component)*) >
<!ATTLIST prodinfo   platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/prodinfo" >

<!ELEMENT prodname   (#PCDATA | keyword | term)* >
<!ATTLIST prodname   xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/prodname" >

<!ELEMENT prognum    (#PCDATA | keyword | term)* >
<!ATTLIST prognum    xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/prognum" >

<!ELEMENT prolog     ((author)*, (source)?, (publisher)?, (copyright)*,
                              (critdates)?, (permissions)?, (metadata)*,
                              (resourceid)*) >
<!ATTLIST prolog     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.prolog" >

<!ELEMENT publisher  (#PCDATA | keyword | term)* >
<!ATTLIST publisher  href      CDATA     #IMPLIED
                     keyref    CDATA     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/publisher" >

<!ELEMENT q          (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm)* >
<!ATTLIST q          id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.q" >

<!ELEMENT related-links 
                     (link | linklist | linkpool)+ >
<!ATTLIST related-links 
                     type      CDATA     #IMPLIED
                     role      (parent|child|sibling|friend|next|previous|cousin|ancestor|descendant|sample|external|other)  #IMPLIED
                     otherrole  CDATA     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     format    CDATA     #IMPLIED
                     scope     (local|peer|external)  #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.related-links" >

<!ELEMENT relcell    (topicref)* >
<!ATTLIST relcell    id ID     #IMPLIED
                     collection-type  (choice|unordered|sequence|family)  #IMPLIED
                     type      CDATA     #IMPLIED
                     scope     (local|peer|external)  #IMPLIED
                     locktitle  (yes|no)  #IMPLIED
                     format    CDATA     #IMPLIED
                     linking   (none|normal|sourceonly|targetonly)  #IMPLIED
                     toc       (yes|no)  #IMPLIED
                     print     (yes|no)  #IMPLIED
                     search    (yes|no)  #IMPLIED
                     chunk     CDATA     #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/relcell" >

<!ELEMENT relcolspec (topicmeta)? >
<!ATTLIST relcolspec 
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     collection-type  (choice|unordered|sequence|family)  #IMPLIED
                     type      CDATA     #IMPLIED
                     scope     (local|peer|external)  #IMPLIED
                     locktitle  (yes|no)  #IMPLIED
                     format    CDATA     #IMPLIED
                     linking   (none|normal|sourceonly|targetonly)  #IMPLIED
                     toc       (yes|no)  #IMPLIED
                     print     (yes|no)  #IMPLIED
                     search    (yes|no)  #IMPLIED
                     chunk     CDATA     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/relcolspec" >

<!ELEMENT relheader  (relcolspec)+ >
<!ATTLIST relheader  xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/relheader" >

<!ELEMENT relrow     (relcell)* >
<!ATTLIST relrow     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/relrow" >

<!ELEMENT reltable   ((topicmeta)?, (relheader)?, (relrow)+) >
<!ATTLIST reltable   title     CDATA     #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     id ID     #IMPLIED
                     collection-type  (choice|unordered|sequence|family)  #IMPLIED
                     type      CDATA     #IMPLIED
                     scope     (local|peer|external)  #IMPLIED
                     locktitle  (yes|no)  "yes"
                     format    CDATA     #IMPLIED
                     linking   (targetonly|sourceonly|normal|none)  #IMPLIED
                     toc       (yes|no)  "no"
                     print     (yes|no)  #IMPLIED
                     search    (yes|no)  #IMPLIED
                     chunk     CDATA     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/reltable" >

<!ELEMENT resourceid EMPTY >
<!ATTLIST resourceid 
                     id ID     #REQUIRED
                     appname   CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/resourceid" >

<!ELEMENT revised    EMPTY >
<!ATTLIST revised    modified  CDATA     #REQUIRED
                     golive    CDATA     #IMPLIED
                     expiry    CDATA     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/revised" >

<!ELEMENT row        (entry)+ >
<!ATTLIST row        valign    (top|middle|bottom)  #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.row" >

<!ELEMENT searchtitle 
                     (#PCDATA | keyword | term)* >
<!ATTLIST searchtitle 
                     id ID     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.searchtitle" >

<!ELEMENT section    (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | p | lq | note | dl | ul |
                              ol | sl | pre | lines | fig | image | object |
                              fm_table_title_external | fm_table_desc_external
                              | fm_div | title | draft-comment | fn |
                              indextermref)* >
<!ATTLIST section    spectitle  CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.section" >

<!ELEMENT series     (#PCDATA | keyword | term)* >
<!ATTLIST series     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/series" >

<!ELEMENT shortdesc  (#PCDATA | ph | term | q | boolean | state | keyword
                              | tm | image)* >
<!ATTLIST shortdesc  id ID     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.shortdesc" >

<!ELEMENT sl         (sli)+ >
<!ATTLIST sl         compact   (yes|no)  #IMPLIED
                     spectitle  CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.sl" >

<!ELEMENT sli        (#PCDATA | ph | term | xref | cite | q | boolean |
                              state | keyword | tm | image | draft-comment |
                              fn | indextermref)* >
<!ATTLIST sli        id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.sli" >

<!ELEMENT source     (#PCDATA | keyword | term)* >
<!ATTLIST source     href      CDATA     #IMPLIED
                     keyref    CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     clzass     CDATA     "- topic/source" >

<!ELEMENT state      EMPTY >
<!ATTLIST state      name      CDATA     #REQUIRED
                     value     CDATA     #REQUIRED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.state" >

<!ELEMENT table      ((fm_table_title_internal)?, tgroup) >
<!ATTLIST table      fm_format  NMTOKEN   #IMPLIED
                     rowheader  (firstcol|norowheader)  #IMPLIED
                     scale     (50|60|70|80|90|100|110|120|140|160|180|200)  #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     frame  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
					 colsep    CDATA     #IMPLIED
					 rowsep    CDATA     #IMPLIED
                     class     CDATA     "topic.table" >

<!ELEMENT tgroup     ((colspec)*, (thead)?, tbody) >
<!ATTLIST tgroup
                     id ID     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.title"
                     align     (left|center|right|justify|char)  #IMPLIED
                     char      CDATA     #IMPLIED
                     charoff   CDATA     #IMPLIED
                     colsep    CDATA     #IMPLIED
                     cols      CDATA     #IMPLIED 
                     rowsep    CDATA     #IMPLIED >

<!ELEMENT colspec    EMPTY >
<!ATTLIST colspec    class     CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     align     (left|center|right|justify|char)  #IMPLIED
                     char      CDATA     #IMPLIED
                     charoff   CDATA     #IMPLIED
                     colnum    CDATA     #IMPLIED
                     colname   CDATA     #IMPLIED
                     colsep    CDATA     #IMPLIED
                     colwidth  CDATA     #IMPLIED
                     rowsep    CDATA     #IMPLIED >

<!ELEMENT tbody      (row)+ >
<!ATTLIST tbody      valign    (top|middle|bottom)  #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.tbody" >

<!ELEMENT term       (#PCDATA | tm)* >
<!ATTLIST term       keyref    CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.term" >

<!ELEMENT thead      (row)+ >
<!ATTLIST thead      valign    (top|middle|bottom)  #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.thead" >

<!ELEMENT title      (#PCDATA | ph | term | q | boolean | state | keyword
                              | tm | image)* >
<!ATTLIST title      id ID     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.title" >

<!ELEMENT titlealts  ((navtitle)?, (searchtitle)?) >
<!ATTLIST titlealts  id ID     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.titlealts" >

<!ELEMENT tm         (#PCDATA | tm)* >
<!ATTLIST tm         trademark  CDATA     #IMPLIED
                     tmowner   CDATA     #IMPLIED
                     tmtype    (tm|reg|service)  #REQUIRED
                     tmclass   CDATA     #IMPLIED
                     previous-count  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.tm" >

<!--topic: The <topic> element-->
<!ELEMENT topic      ((chapter-head)?, title, (titlealts)?,
                              (abstract | shortdesc)?, (prolog)?, (body)?,
                              (related-links)?, (topic)*) >
<!ATTLIST topic      id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     xmlns:ditaarch  CDATA     "http://dita.oasis-open.org/architecture/2005/"
                     ditaarch:DITAArchVersion  CDATA     "1.0"
                     domains   CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.topic"
                     refclass  CDATA     "map.topicref" >

<!ELEMENT topicmeta  ((map.linktext)?, (map.searchtitle)?,
                              (map.shortdesc)?, (author)*, (source)?,
                              (publisher)?, (copyright)*, (critdates)?,
                              (permissions)?, (audience)*, (category)*,
                              (keywords)*, (prodinfo)*, (othermeta)*,
                              (resourceid)*) >
<!ATTLIST topicmeta  lockmeta  (yes|no)  #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/topicmeta" >

<!ELEMENT topicref   ((topicmeta)?, (topicref | navref | anchor)*) >
<!ATTLIST topicref   navtitle  CDATA     #IMPLIED
                     href      CDATA     #IMPLIED
                     keyref    CDATA     #IMPLIED
                     query     CDATA     #IMPLIED
                     copy-to   CDATA     #IMPLIED
                     collection-type  (choice|unordered|sequence|family)  #IMPLIED
                     type      CDATA     #IMPLIED
                     scope     (local|peer|external)  #IMPLIED
                     locktitle  (yes|no)  #IMPLIED
                     format    CDATA     #IMPLIED
                     linking   (none|normal|sourceonly|targetonly)  #IMPLIED
                     toc       (yes|no)  #IMPLIED
                     print     (yes|no)  #IMPLIED
                     search    (yes|no)  #IMPLIED
                     chunk     CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     class     CDATA     "- map/topicref" >

<!ELEMENT ul         (li)+ >
<!ATTLIST ul         compact   (yes|no)  #IMPLIED
                     spectitle  CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.ul" >

<!ELEMENT vrm        EMPTY >
<!ATTLIST vrm        version   CDATA     #REQUIRED
                     release   CDATA     #IMPLIED
                     modification  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/vrm" >

<!ELEMENT vrmlist    (vrm)+ >
<!ATTLIST vrmlist    xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "- topic/vrmlist" >

<!ELEMENT xref       (fm_internal_link_with_anchor_text |
                              fm_external_link_with_anchor_text) >
<!ATTLIST xref       href      CDATA     #IMPLIED
                     keyref    CDATA     #IMPLIED
                     type      CDATA     #IMPLIED
                     id ID     #IMPLIED
                     platform  CDATA     #IMPLIED
                     product   CDATA     #IMPLIED
                     audience  CDATA     #IMPLIED
                     otherprops  CDATA     #IMPLIED
                     importance  (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent)  #IMPLIED
                     rev       CDATA     #IMPLIED
                     status    (new|changed|deleted|unchanged)  #IMPLIED
                     translate  (yes|no)  #IMPLIED
                     xml:lang  CDATA     #IMPLIED
                     format    CDATA     #IMPLIED
                     scope     (local|peer|external)  #IMPLIED
                     outputclass  CDATA     #IMPLIED
                     xtrc      CDATA     #IMPLIED
                     xtrf      CDATA     #IMPLIED
                     xmlns     CDATA     #IMPLIED
                     class     CDATA     "topic.xref" >

<!ELEMENT booktitle  (#PCDATA | ph | term | q | boolean | state | keyword | tm | image | booklibrary | mainbooktitle | booktitlealt)* >

<!ELEMENT booklibrary (#PCDATA | ph | term | q | boolean | state | keyword | tm | image )* >

<!ELEMENT mainbooktitle (#PCDATA | ph | term | q | boolean | state | keyword | tm | image )* >

<!ELEMENT booktitlealt (#PCDATA | ph | term | q | boolean | state | keyword | tm | image )* >

<!ELEMENT bookmeta (author | authorinformation | source | publisherinformation | critdates | permissions | audience | category | keywords
                    | prodinfo | othermeta | resourceid | bookid | bookchangehistory | bookrights)* >

<!ELEMENT authorinformation (personinfo | organizationinfo) >

<!ELEMENT personinfo ((namedetails)?, (addressdetails)?, (contactnumbers)?, (emailaddresses)?) >

<!ELEMENT organizationinfo ((namedetails)?, (addressdetails)?, (contactnumbers)?, (emailaddresses)?, (urls)?) >

<!ELEMENT namedetails (personname | organizationnamedetails)* >

<!ELEMENT personname ((honorific)?, (firstname)*, (middlename)*, (lastname), (generationidentifier)?, (otherinfo)*) >

<!ELEMENT honorific (#PCDATA) >
<!ELEMENT firstname (#PCDATA) >
<!ELEMENT middlename (#PCDATA) >
<!ELEMENT lastname (#PCDATA) >
<!ELEMENT generationidentifier (#PCDATA) >
<!ELEMENT otherinfo (#PCDATA | keyword | term)* >

<!ELEMENT organizationnamedetails ((organizationname)?, otherinfo)* >

<!ELEMENT organizationname (#PCDATA | ph | term | xref | cite | q | boolean | state | keyword | tm | image | draft-comment | fn | indextermref)* >

<!ELEMENT addressdetails (#PCDATA | keyword | term | locality | administrativearea | thoroughfare | country)* >

<!ELEMENT locality (#PCDATA | keyword | term)* >
<!ELEMENT administrativearea (#PCDATA | keyword | term)* >
<!ELEMENT thoroughfare (#PCDATA | keyword | term)* >
<!ELEMENT country (#PCDATA) >

<!ELEMENT contactnumbers (contactnumber)* >
<!ELEMENT contactnumber (#PCDATA) >

<!ELEMENT emailaddresses (emailaddress)* >
<!ELEMENT emailaddress (#PCDATA | keyword | term)* >

<!ELEMENT urls (url)* >
<!ELEMENT url (#PCDATA | keyword | term)* >

<!ELEMENT publisherinformation ((person | organization)*, (printlocation)*, (published)*) >

<!ELEMENT person (#PCDATA | keyword | term)* >
<!ELEMENT organization (#PCDATA | keyword | term)* >
<!ELEMENT printlocation (#PCDATA | keyword | term)* >

<!ELEMENT published ((person | organization)*, (publishtype)?, (revisionid)?, (started)?, (completed)?, (summary)?) >

<!ELEMENT publishtype EMPTY >

<!ELEMENT revisionid (#PCDATA) >

<!ELEMENT started ((year, month, (day)?)|(month, (day)?, year)|(day, month, year)) >

<!ELEMENT completed ((year, month, (day)?)|(month, (day)?, year)|(day, month, year)) >

<!ELEMENT day (#PCDATA) >
<!ELEMENT month (#PCDATA) >
<!ELEMENT year (#PCDATA) >

<!ELEMENT summary (#PCDATA | keyword | term)* >

<!ELEMENT bookid ((bookpartno)*, (edition)?, (isbn)?, (booknumber)?, (volume)?, (maintainer)?) >

<!ELEMENT bookpartno (#PCDATA | keyword | term)* >
<!ELEMENT edition (#PCDATA) >
<!ELEMENT isbn (#PCDATA) >
<!ELEMENT booknumber (#PCDATA | keyword | term)* >
<!ELEMENT volume (#PCDATA) >
<!ELEMENT maintainer (#PCDATA | keyword | term)* >

<!ELEMENT bookchangehistory ((reviewed)*, (edited)*, (tested)*, (approved)*, (bookevent)*) >

<!ELEMENT reviewed ((person | organization)*, (revisionid)?, (started)?, (completed)?, (summary)?) >
<!ELEMENT edited ((person | organization)*, (revisionid)?, (started)?, (completed)?, (summary)?) >
<!ELEMENT tested ((person | organization)*, (revisionid)?, (started)?, (completed)?, (summary)?) >
<!ELEMENT approved ((person | organization)*, (revisionid)?, (started)?, (completed)?, (summary)?) >
<!ELEMENT bookevent ((bookeventtype)?, (person | organization)*, (revisionid)?, (started)?, (completed)?, (summary)?) >

<!ELEMENT bookeventtype EMPTY >

<!ELEMENT bookrights ((copyrfirst)?, (copyrlast)?, bookowner, (bookrestriction)?, (summary)?) >

<!ELEMENT copyrfirst (year) >
<!ELEMENT copyrlast (year) >

<!ELEMENT bookowner ( person | organization ) >

<!ELEMENT bookrestriction EMPTY >
