schema/xnalDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!-- <!ENTITY xnal-d-att "(topic xnal-d)"                                 >-->

    <xs:group name="xnal-d-author">
        <xs:choice>
            <xs:group ref="authorinformation"></xs:group>
        </xs:choice>
    </xs:group>
    
    <xs:group name="authorinformation">
        <xs:choice>
            <xs:element ref="authorinformation"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="addressdetails">
        <xs:choice>
            <xs:element ref="addressdetails"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="administrativearea">
        <xs:choice>
            <xs:element ref="administrativearea"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="contactnumber">
        <xs:choice>
            <xs:element ref="contactnumber"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="contactnumbers">
        <xs:choice>
            <xs:element ref="contactnumbers"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="country">
        <xs:choice>
            <xs:element ref="country"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="emailaddress">
        <xs:choice>
            <xs:element ref="emailaddress"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="emailaddresses">
        <xs:choice>
            <xs:element ref="emailaddresses"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="firstname">
        <xs:choice>
            <xs:element ref="firstname"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="generationidentifier">
        <xs:choice>
            <xs:element ref="generationidentifier"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="honorific">
        <xs:choice>
            <xs:element ref="honorific"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lastname">
        <xs:choice>
            <xs:element ref="lastname"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="locality">
        <xs:choice>
            <xs:element ref="locality"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="localityname">
        <xs:choice>
            <xs:element ref="localityname"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="middlename">
        <xs:choice>
            <xs:element ref="middlename"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="namedetails">
        <xs:choice>
            <xs:element ref="namedetails"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="organizationinfo">
        <xs:choice>
            <xs:element ref="organizationinfo"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="organizationname">
        <xs:choice>
            <xs:element ref="organizationname"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="organizationnamedetails">
        <xs:choice>
            <xs:element ref="organizationnamedetails"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="otherinfo">
        <xs:choice>
            <xs:element ref="otherinfo"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="personinfo">
        <xs:choice>
            <xs:element ref="personinfo"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="personname">
        <xs:choice>
            <xs:element ref="personname"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="postalcode">
        <xs:choice>
            <xs:element ref="postalcode"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="thoroughfare">
        <xs:choice>
            <xs:element ref="thoroughfare"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="url">
        <xs:choice>
            <xs:element ref="url"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="urls">
        <xs:choice>
            <xs:element ref="urls"/>
        </xs:choice>
    </xs:group>
    
    
    <xs:element name="authorinformation" type="authorinformation.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="authorinformation.class">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="personinfo"/>
            <xs:group ref="organizationinfo"/>            
        </xs:choice>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="creator"/>
                    <xs:enumeration value="contributor"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/author xnal-d/authorinformation "/>
    </xs:complexType>
    
    <!--<!ELEMENT addressdetails     (%words.cnt;|%locality;|%administrativearea;|
    %thoroughfare;|%country;)*                  >-->
    <xs:element name="addressdetails" type="addressdetails.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="addressdetails.class" mixed="true"> 
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="words.cnt"/>
            <xs:group ref="locality"/>
            <xs:group ref="administrativearea"/>
            <xs:group ref="thoroughfare"/>
            <xs:group ref="country"/>
        </xs:choice>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/ph xnal-d/addressdetails "/>
    </xs:complexType>
    
    <xs:element name="administrativearea" type="administrativearea.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="administrativearea.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="words.cnt"/>
        </xs:choice>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/ph xnal-d/administrativearea "/>
    </xs:complexType>
    
    <xs:element name="contactnumber" type="contactnumber.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="contactnumber.class" mixed="true">
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/contactnumber "/>
    </xs:complexType>
    
    <xs:element name="contactnumbers" type="contactnumbers.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="contactnumbers.class" >
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="contactnumber"/>
        </xs:choice>
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/contactnumbers "/>
    </xs:complexType>
    
    <xs:element name="country" type="country.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="country.class" mixed="true">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/ph xnal-d/country "/>
    </xs:complexType>
    
    <xs:element name="emailaddress" type="emailaddress.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="emailaddress.class" mixed="true">
        <xs:choice  minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="words.cnt"/>
        </xs:choice>
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/emailaddress "/>
    </xs:complexType>
    
    <xs:element name="emailaddresses" type="emailaddresses.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="emailaddresses.class">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="emailaddress"/>
        </xs:choice>
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/emailaddresses "/>
    </xs:complexType>
    
    <xs:element name="firstname" type="firstname.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="firstname.class" mixed="true">
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/firstname "/>
    </xs:complexType>
    
    <xs:element name="generationidentifier" type="generationidentifier.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="generationidentifier.class" mixed="true">
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/generationidentifier "/>
    </xs:complexType>
    
    <xs:element name="honorific" type="honorific.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="honorific.class" mixed="true">
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/honorific "/>
    </xs:complexType>
    
    <xs:element name="lastname" type="lastname.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="lastname.class" mixed="true">
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/lastname "/>
    </xs:complexType>
    
    <xs:element name="locality" type="locality.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="locality.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="words.cnt"/>
            <xs:group ref="localityname"/>
            <xs:group ref="postalcode"/>
        </xs:choice>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/ph xnal-d/locality "/>
    </xs:complexType>
    
    <xs:element name="localityname" type="localityname.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="localityname.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="words.cnt"/>
         </xs:choice>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/ph xnal-d/localityname "/>
    </xs:complexType>
    
    <xs:element name="middlename" type="middlename.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="middlename.class" mixed="true">
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/middlename "/>
    </xs:complexType>
    
    <xs:element name="namedetails" type="namedetails.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="namedetails.class">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="personname"/>
            <xs:group ref="organizationnamedetails"/>
        </xs:choice>
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/namedetails "/>
    </xs:complexType>
    
    <xs:element name="organizationinfo" type="organizationinfo.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="organizationinfo.class">
        <xs:sequence>
            <xs:group ref="namedetails" minOccurs="0"/>
            <xs:group ref="addressdetails" minOccurs="0"/>
            <xs:group ref="contactnumbers" minOccurs="0"/>
            <xs:group ref="emailaddresses" minOccurs="0"/>
            <xs:group ref="urls" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/organizationinfo "/>
    </xs:complexType>
    
    <xs:element name="organizationname" type="organizationname.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="organizationname.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="ph.cnt"/>
        </xs:choice>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/ph xnal-d/organizationname "/>
    </xs:complexType>
    
    <xs:element name="organizationnamedetails" type="organizationnamedetails.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="organizationnamedetails.class">
        <xs:choice>
            <xs:group ref="organizationname" minOccurs="0" />
            <xs:group ref="otherinfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/ph xnal-d/organizationnamedetails "/>
    </xs:complexType>
    
    <xs:element name="otherinfo" type="otherinfo.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="otherinfo.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="words.cnt"/>
        </xs:choice>
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/otherinfo "/>
    </xs:complexType>
    
    <xs:element name="personinfo" type="personinfo.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="personinfo.class" >
        <xs:sequence>
            <xs:group ref="namedetails" minOccurs="0"/>
            <xs:group ref="addressdetails" minOccurs="0"/>
            <xs:group ref="contactnumbers" minOccurs="0"/>
            <xs:group ref="emailaddresses" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/personinfo "/>
    </xs:complexType>
    
    <xs:element name="personname" type="personname.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="personname.class" mixed="true">
        <xs:sequence>
            <xs:group ref="honorific" minOccurs="0"/>
            <xs:group ref="firstname" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="middlename" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="lastname" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="generationidentifier" minOccurs="0"/>
            <xs:group ref="otherinfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/personname "/>
    </xs:complexType>
    
    <xs:element name="postalcode" type="postalcode.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="postalcode.class" mixed="true">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/ph xnal-d/postalcode "/>
    </xs:complexType>
    
   
    <xs:element name="thoroughfare" type="thoroughfare.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="thoroughfare.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="words.cnt"/>
        </xs:choice>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/ph xnal-d/throughfare "/>
    </xs:complexType>
    
    <xs:element name="url" type="url.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="url.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="words.cnt"/>
        </xs:choice>
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/url "/>
    </xs:complexType>
    
    <xs:element name="urls" type="urls.class">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="urls.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="url"/>
        </xs:choice>
        <xs:attributeGroup ref="data-element-atts.class" />
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="+ topic/data xnal-d/urls "/>
    </xs:complexType>
    
</xs:schema>