plugins/cxxapiref/dtd/cxxAPIDomain.mod

<!--
Copyright (c) 2009-2010 Nokia Corporation and/or its subsidiary(-ies).
All rights reserved.

Generated from APIdomain.script
-->

<!ENTITY % cxxfile "cxxfile">

<!ELEMENT cxxfile    (#PCDATA)>
<!ATTLIST cxxfile     href CDATA #IMPLIED
                      keyref CDATA #IMPLIED
                      type   CDATA  #IMPLIED
                      %univ-atts;
                      format        CDATA   #IMPLIED
                      scope (local | peer | external) #IMPLIED
                      outputclass CDATA #IMPLIED
>
<!ATTLIST cxxfile %global-atts;
    class  CDATA "+ topic/xref pr-d/xref api-d/apipackage cxxapi-d/cxxfile ">


<!ENTITY % cxxclass "cxxclass">

<!ELEMENT cxxclass    (#PCDATA)>
<!ATTLIST cxxclass     href CDATA #IMPLIED
                      keyref CDATA #IMPLIED
                      type   CDATA  #IMPLIED
                      %univ-atts;
                      format        CDATA   #IMPLIED
                      scope (local | peer | external) #IMPLIED
                      outputclass CDATA #IMPLIED
>
<!ATTLIST cxxclass %global-atts;
    class  CDATA "+ topic/xref pr-d/xref api-d/apipackage cxxapi-d/cxxclass ">

<!ENTITY % cxxstruct "cxxstruct">

<!ELEMENT cxxstruct    (#PCDATA)>
<!ATTLIST cxxstruct     href CDATA #IMPLIED
                      keyref CDATA #IMPLIED
                      type   CDATA  #IMPLIED
                      %univ-atts;
                      format        CDATA   #IMPLIED
                      scope (local | peer | external) #IMPLIED
                      outputclass CDATA #IMPLIED
>
<!ATTLIST cxxstruct %global-atts;
    class  CDATA "+ topic/xref pr-d/xref api-d/apipackage cxxapi-d/cxxstruct ">

<!ENTITY % cxxunion "cxxunion">

<!ELEMENT cxxunion    (#PCDATA)>
<!ATTLIST cxxunion     href CDATA #IMPLIED
                      keyref CDATA #IMPLIED
                      type   CDATA  #IMPLIED
                      %univ-atts;
                      format        CDATA   #IMPLIED
                      scope (local | peer | external) #IMPLIED
                      outputclass CDATA #IMPLIED
>
<!ATTLIST cxxunion %global-atts;
    class  CDATA "+ topic/xref pr-d/xref api-d/apipackage cxxapi-d/cxxunion ">

<!ENTITY % cxxfunction "cxxfunction">

<!ELEMENT cxxfunction    (#PCDATA)>
<!ATTLIST cxxfunction     href CDATA #IMPLIED
                      keyref CDATA #IMPLIED
                      type   CDATA  #IMPLIED
                      %univ-atts;
                      format        CDATA   #IMPLIED
                      scope (local | peer | external) #IMPLIED
                      outputclass CDATA #IMPLIED
>
<!ATTLIST cxxfunction %global-atts;
    class  CDATA "+ topic/xref pr-d/xref api-d/apipackage cxxapi-d/cxxfunction ">

<!ENTITY % cxxdefine "cxxdefine">

<!ELEMENT cxxdefine    (#PCDATA)>
<!ATTLIST cxxdefine     href CDATA #IMPLIED
                      keyref CDATA #IMPLIED
                      type   CDATA  #IMPLIED
                      %univ-atts;
                      format        CDATA   #IMPLIED
                      scope (local | peer | external) #IMPLIED
                      outputclass CDATA #IMPLIED
>
<!ATTLIST cxxdefine %global-atts;
    class  CDATA "+ topic/xref pr-d/xref api-d/apipackage cxxapi-d/cxxdefine ">
    
<!ENTITY % cxxtypedef "cxxtypedef">

<!ELEMENT cxxtypedef    (#PCDATA)>
<!ATTLIST cxxtypedef     href CDATA #IMPLIED
                      keyref CDATA #IMPLIED
                      type   CDATA  #IMPLIED
                      %univ-atts;
                      format        CDATA   #IMPLIED
                      scope (local | peer | external) #IMPLIED
                      outputclass CDATA #IMPLIED
>
<!ATTLIST cxxtypedef %global-atts;
    class  CDATA "+ topic/xref pr-d/xref api-d/apipackage cxxapi-d/cxxtypedef ">

<!ENTITY % cxxvariable "cxxvariable">

<!ELEMENT cxxvariable    (#PCDATA)>
<!ATTLIST cxxvariable     href CDATA #IMPLIED
                      keyref CDATA #IMPLIED
                      type   CDATA  #IMPLIED
                      %univ-atts;
                      format        CDATA   #IMPLIED
                      scope (local | peer | external) #IMPLIED
                      outputclass CDATA #IMPLIED
>
<!ATTLIST cxxvariable %global-atts;
    class  CDATA "+ topic/xref pr-d/xref api-d/apipackage cxxapi-d/cxxvariable ">

<!ENTITY % cxxenumeration "cxxenumeration">

<!ELEMENT cxxenumeration    (#PCDATA)>
<!ATTLIST cxxenumeration     href CDATA #IMPLIED
                      keyref CDATA #IMPLIED
                      type   CDATA  #IMPLIED
                      %univ-atts;
                      format        CDATA   #IMPLIED
                      scope (local | peer | external) #IMPLIED
                      outputclass CDATA #IMPLIED
>
<!ATTLIST cxxenumeration %global-atts;
    class  CDATA "+ topic/xref pr-d/xref api-d/apipackage cxxapi-d/cxxenumeration ">

